main {
	padding: 5%;


	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* MAIN CONTENT ==================== */


main .main-content {
	display: flex;
	flex-direction: column;
}

main .main-content h2 {
	margin-bottom: 3%;
	font-size: 2.2em;
}

main .main-content .text {
	margin-bottom: 10%;
}

main .main-content .text p {
	width: 75%;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.6;
}

/* CARDS =============== */

main .techs .cards-container {
	display: flex;
	align-items: center;
}

main .techs .cards-container .card {
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #777;
	border-radius: 8px;
	margin-right: 0.9em;
	margin-left: 0.9em;
	cursor: pointer;


	display: flex;
	align-items: center;
	justify-content: center;
}

main .techs .cards-container .card img {
	width: 80%;	
}

main .techs .cards-container .card:hover {
	box-shadow: 0px 0px 8px #00e400;
	background-color: #eee;
	transition: 0.3s ease-in-out;
}


/* FIGURE =============== */

main figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main figure img {
	width: 400px;
	height: 400px;
	border-radius: 200px;

	padding: 5px;

	margin-bottom: 6%;
	border: 1px #00e400 solid ;
	transition: 0.2s ease-in-outs;
	cursor: pointer;
}